<h1 class="text-center mt-4"><%= @user.username  %>'s profile </h1>
<div class="text-center mt-4">
<%= gravatar_for @user , size: 300 %>
</div>
<div class="text-center mt-4">
   <%= link_to "edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div> 
<div class="flickr_pagination display-flex">
<%= will_paginate @articles   %>
  </div>
<%= render 'articles/article' , objs: @user.articles %>


